* { 
	box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background: hsla(0, 0%, 95%)
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
}

#pacing-table {
    border: 2px solid hsla(0, 0%, 50%);
    display: flex;
    overflow: scroll;
    width: fit-content;
    border-radius: 6px;
    background: white;
}

th, td { 
    padding: 0.5rem;
    border: 0.5px solid rgb(187, 187, 187);
}


.header {
    background-color: rgb(170, 204, 200);
    text-align: center;
}

input {
    border: none;
    width: 7rem;
    font-size: 1rem;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.vertical-row { 
    display: block; 
    float: left;
}

.header.flow {
    background: lightgrey;
}

input.label {
    font-weight: bold
}

input.flow,input.label {
    pointer-events:none;
}

input.flow {
    background: none;
}

input.model::-webkit-inner-spin-button {
    opacity: 1
}